{% macro sidebar () %}

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-text mx-3">Rowing System</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Rowers
    </div>

    <!-- Nav Item - Stroke -->
    <li class="nav-item">
        <a class="nav-link" href="/public/rowers/stroke">
            <i class="fas fa-fw fa-user"></i>
            <span>Stroke</span>
        </a>
    </li>

    <!-- Nav Item - Stroke -->
    <li class="nav-item">
        <a class="nav-link" href="/public/rowers/stroke2">
            <i class="fas fa-fw fa-user"></i>
            <span>Stroke 2</span>
        </a>
    </li>

    <!-- Nav Item - Stroke -->
    <li class="nav-item">
        <a class="nav-link" href="/public/rowers/bow2">
            <i class="fas fa-fw fa-user"></i>
            <span>Bow 2</span>
        </a>
    </li>

    <!-- Nav Item - Stroke -->
    <li class="nav-item">
        <a class="nav-link" href="/public/rowers/bow">
            <i class="fas fa-fw fa-user"></i>
            <span>Bow</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Admin
    </div>

    <!-- Nav Item - Cox -->
    <li class="nav-item active">
        <a class="nav-link" href="/public/cox">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Cox</span></a>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->

{% endmacro %}