<script type="text/javascript" src="{{ url_for('static', filename='assets/js/rower_chart.js') }}"></script>

<style>
  table, th, td {
    border: 1px solid black;
    text-align: center;
  }
</style>

{% set seats=["bow", "bow2", "stroke2", "stroke"] %}
{% set sensor_points=["gx", "gy", "gz", "sax", "say", "saz", "rx", "ry"] %}

<table>
  <tr>
    <th>Timestamp</th>
    <th><div id="datetime">datetime</div></th>
  </tr>
  <tr>
    <th>Position</th>
    {% for sensor_point in sensor_points %}
    <th style="width: 50px;">{{ sensor_point}}</th>
    {% endfor %}
  </tr>
  {% for seat in seats %}
  <tr>
    <td>{{ seat }}</td>
    {% for sensor_point in sensor_points %}
    <td id="{{seat}}{{sensor_point}}">{{seat}} {{ sensor_point}}</td>
    {% endfor %}
  </tr> 
  {% endfor %}
</table>

<div id="chartContainer_rx" style="height: 300px; width: 100%;"></div>
<div id="chartContainer_ry" style="height: 300px; width: 100%;"></div>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<div style="margin-top:16px;color:dimgrey;font-size:9px;font-family: Verdana, Arial, Helvetica, sans-serif;text-decoration:none;"></div>

<script>

const num_rowers = 4
const dataLength = 100
let chart_rx = new RowerChart("rx", "chartContainer_rx", num_rowers, dataLength);
var chart_ry = new RowerChart("ry", "chartContainer_ry", num_rowers, dataLength);


  window.onload = function () { 

    var seats = ["bow", "bow2", "stroke2", "stroke"]
    var sensor_points = ["gx", "gy", "gz", "sax", "say", "saz", "rx", "ry"]

    var xVal = 0;
    var yVal = 0; 
    
    var eventSource = new EventSource("/stream")
      eventSource.onmessage = function(e) {
      var data_array = e.data.split(',');
      
      var num_rowers = (data_array.length - 1) / 9
      var rower_ids = []

      for (let index = 0; index < num_rowers; index++) {
        rower_id = data_array[index * 9]
        rower_ids.push(rower_id)
      }

      rower_index = 0
      rower_ids.forEach(rower_index => {
        seat_name = seats[rower_index]
        var sensor_count = 1
        sensor_points.forEach(sensor_point => {
          var data_id = seat_name + sensor_point
          data_index = (rower_index * 9) + sensor_count
          data = data_array[data_index]
          data = Math.round(data * 100) / 100
          display_data(data_id, data)
          sensor_count++
        });
        sensor_index = get_sensor_index("rx")
        data_to_plot = data_array[(rower_index * 9) + sensor_index]
        //updateChart(chart_rx, dps_rx, rower_index, data_to_plot);
        chart_rx.update_chart(rower_index, xVal, data_to_plot);

        sensor_index = get_sensor_index("ry")
        data_to_plot = data_array[(rower_index * 9) + sensor_index]
        //updateChart(chart_ry, dps_ry, rower_index, data_to_plot);
        chart_ry.update_chart(rower_index, xVal, data_to_plot);

        rower_index++
        xVal++
      });

      timestamp = data_array[data_array.length - 1]
      datetime = timestamp.split('.')[0]
      display_data("datetime", datetime)
    };

    function get_sensor_index(sensor_name) {
      sensor_dict = {
        "gx" : 1,
        "gy" : 2,
        "gz" : 3,
        "sax" : 4,
        "say" : 5,
        "saz" : 6,
        "rx" : 7,
        "ry" : 8,
      }
      return sensor_dict[sensor_name]
    }

    function display_data(element_id, data) {
      html_element = document.getElementById(element_id)
      html_element.innerHTML = data;
    }
  
  }
</script>

